@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>This is a demp applicatoin for the Humana "ATLSCAN" application which batch process the zip files from a source 
       folder and extracts all the files in the zip files in the source folder to a defined destination folder.
       This process csn be manually done too.
       Also the user can search and download any files from the destination folder.
    </p>
</main>